HealthRecords.Server/bin/
HealthRecords.Server/obj/
HealthRecords.Server/Logs/
HealthRecords.Server/appsettings.*.json
/packages/
riderModule.iml
/_ReSharper.Caches/

HealthRecords.Web/bin/
HealthRecords.Web/obj/
HealthRecords.Web/obj\\Debug/
node_modules/
dist/
dist-ssr/
*.local

.env